# Model 3: Sarcastic Comments Detection using BERT

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data preparation

In [12]:
df = pd.read_csv('../../data/Sarcastic_Comments_REDDIT/train-balanced-sarcasm.csv')
df = df[["label", "comment"]]
df.head()

   label                                            comment
0      0                                         NC and NH.
1      0  You do know west teams play against west teams...
2      0  They were underdogs earlier today, but since G...
3      0  This meme isn't funny none of the "new york ni...
4      0                    I could use one of those tools.

In [14]:
df["label"].value_counts()

label
0    505413
1    505413
Name: count, dtype: int64