# Multiingual datasets collection

## Amazon Reviews Multi

In [7]:
import pandas as pd
import os

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mexwell/amazon-reviews-multi")

print("Path to dataset files:", path)

c:\Users\davyd\miniconda3\envs\PYTHON3.10\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.7)
Downloading from https://www.kaggle.com/api/v1/datasets/download/mexwell/amazon-reviews-multi?dataset_version_number=1...

100%|██████████| 131M/131M [04:05<00:00, 561kB/s]

Extracting model files...

Path to dataset files: C:\Users\davyd\.cache\kagglehub\datasets\mexwell\amazon-reviews-multi\versions\1

In [8]:
files = os.listdir(path)
print("Files in directory:", files)

Files in directory: ['test.csv', 'train.csv', 'validation.csv']

In [10]:
data_amazon_train = pd.read_csv(os.path.join(path, "train.csv"))

In [11]:
data_amazon_val = pd.read_csv(os.path.join(path, "validation.csv"))

In [13]:
data_amazon_test = pd.read_csv(os.path.join(path, "test.csv"))

## multilingual-sentiments

In [ ]:
from datasets import load_dataset
data_hug_face = load_dataset("tyqiangz/multilingual-sentiments", "all")

Downloading data: 100%|██████████| 37.1M/37.1M [00:50<00:00, 728kB/s]
Downloading data: 100%|██████████| 1.26M/1.26M [00:01<00:00, 653kB/s]
Downloading data: 100%|██████████| 1.46M/1.46M [00:02<00:00, 624kB/s]
Generating train split: 100%|██████████| 270399/270399 [00:00<00:00, 754095.57 examples/s]
Generating validation split: 100%|██████████| 10857/10857 [00:00<00:00, 1032574.28 examples/s]
Generating test split: 100%|██████████| 14465/14465 [00:00<00:00, 1134645.09 examples/s]

In [30]:
str(data_hug_face)

"DatasetDict({\n    train: Dataset({\n        features: ['text', 'source', 'language', 'label'],\n        num_rows: 270399\n    })\n    validation: Dataset({\n        features: ['text', 'source', 'language', 'label'],\n        num_rows: 10857\n    })\n    test: Dataset({\n        features: ['text', 'source', 'language', 'label'],\n        num_rows: 14465\n    })\n})"

In [33]:
data_hug_face_train = data_hug_face['train'].to_pandas()

In [34]:
data_hug_face_val = data_hug_face["validation"].to_pandas()

In [35]:
data_hug_face_test = data_hug_face["test"].to_pandas()

## Data Collection

In [68]:
data_amazon = pd.concat([data_amazon_train, data_amazon_val, data_amazon_test])
data_hug = pd.concat([data_hug_face_train, data_hug_face_val, data_hug_face_test])

Amazon Data Transformation

In [41]:
data_amazon.head()

,Unnamed: 0,review_id,product_id,reviewer_id,stars,review_body,review_title,language,product_category
0,0,de_0203609,product_de_0865382,reviewer_de_0267719,1,Armband ist leider nach 1 Jahr kaputt gegangen,Leider nach 1 Jahr kaputt,de,sports
1,1,de_0559494,product_de_0678997,reviewer_de_0783625,1,In der Lieferung war nur Ein Akku!,EINS statt ZWEI Akkus!!!,de,home_improvement
2,2,de_0238777,product_de_0372235,reviewer_de_0911426,1,"Ein Stern, weil gar keine geht nicht. Es hande...",Achtung Abzocke,de,drugstore
3,3,de_0477884,product_de_0719501,reviewer_de_0836478,1,"Dachte, das wären einfach etwas festere Binden...",Zu viel des Guten,de,drugstore
4,4,de_0270868,product_de_0022613,reviewer_de_0736276,1,Meine Kinder haben kaum damit gespielt und nac...,Qualität sehr schlecht,de,toy

In [ ]:
data_amazon = data_amazon[["stars", "review_body"]]

In [ ]:
data_amazon.columns = ["label", "text"]

In [45]:
data_amazon = data_amazon[["text", "label"]]

In [44]:
data_amazon["label"].value_counts()

label
1    252000
2    252000
3    252000
4    252000
5    252000
Name: count, dtype: int64

In [47]:
data_amazon["label"] = data_amazon["label"].map({1: 0, 2: 0, 3: 1, 4: 1, 5: 2})

multilingual-sentiments transformation

In [57]:
data_hug.head()

                                                text  source language  label
0    yang memerlukan pemerhatian dan tindakan serius  malaya    malay      0
1  sentiasa memikirkan dan merancang inisiatif ba...  malaya    malay      0
2  Kita akan tengok daripada pelbagai aspek supay...  malaya    malay      0
3  justeru asean perlu mengambil tindakan sebagai...  malaya    malay      0
4  @_Niiar_ Jangan punah dulu, aku belum ke labua...  malaya    malay      1

In [70]:
data_hug["language"].value_counts()

language
japanese      126000
chinese       126000
indonesian     12760
malay           6697
hindi           3033
german          3033
italian         3033
english         3033
portuguese      3033
french          3033
spanish         3033
arabic          3033
Name: count, dtype: int64

In [58]:
data_hug = data_hug[["text", "label"]]

In [59]:
data_hug["label"].value_counts()

label
0    102527
2     98719
1     94475
Name: count, dtype: int64

In [61]:
data = pd.concat([data_amazon, data_hug])

In [66]:
data.to_csv("Multiilingual_dataset/mulilingual_dataset.csv", index=False)