# Multiingual datasets collection

## Amazon Reviews Multi

In [44]:
import pandas as pd
import os

In [45]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mexwell/amazon-reviews-multi")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.7)
Path to dataset files: C:\Users\davyd\.cache\kagglehub\datasets\mexwell\amazon-reviews-multi\versions\1

In [46]:
files = os.listdir(path)
print("Files in directory:", files)

Files in directory: ['test.csv', 'train.csv', 'validation.csv']

In [47]:
data_amazon_train = pd.read_csv(os.path.join(path, "train.csv"))

In [48]:
data_amazon_val = pd.read_csv(os.path.join(path, "validation.csv"))

In [49]:
data_amazon_test = pd.read_csv(os.path.join(path, "test.csv"))

## multilingual-sentiments

In [50]:
from datasets import load_dataset
data_hug_face = load_dataset("tyqiangz/multilingual-sentiments", "all")

In [51]:
str(data_hug_face)

"DatasetDict({\n    train: Dataset({\n        features: ['text', 'source', 'language', 'label'],\n        num_rows: 270399\n    })\n    validation: Dataset({\n        features: ['text', 'source', 'language', 'label'],\n        num_rows: 10857\n    })\n    test: Dataset({\n        features: ['text', 'source', 'language', 'label'],\n        num_rows: 14465\n    })\n})"

In [52]:
data_hug_face_train = data_hug_face['train'].to_pandas()

In [53]:
data_hug_face_val = data_hug_face["validation"].to_pandas()

In [54]:
data_hug_face_test = data_hug_face["test"].to_pandas()

Allegro Rewiews

In [55]:
dev_path = "Multiilingual_dataset/Allegro/dev.tsv"
test_features_path = "Multiilingual_dataset/Allegro/test_features.tsv"
train_path = "Multiilingual_dataset/Allegro/train.tsv"

data_allegro_dev = pd.read_csv(dev_path, sep='\t')
data_allegro_test_features = pd.read_csv(test_features_path, sep='\t')
data_allegro_train = pd.read_csv(train_path, sep='\t')

Cell phone reviews (Russian language)

In [56]:
import kagglehub

path = kagglehub.dataset_download("theovall/phonereviews")
print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.7)
Path to dataset files: C:\Users\davyd\.cache\kagglehub\datasets\theovall\phonereviews\versions\1

In [57]:
files = os.listdir(path)
print("Files in directory:", files)

Files in directory: ['data.csv']

In [58]:
data_phones = pd.read_csv(os.path.join(path, "data.csv"))

## Data Collection

In [59]:
data_amazon = pd.concat([data_amazon_train, data_amazon_val, data_amazon_test])
data_hug = pd.concat([data_hug_face_train, data_hug_face_val, data_hug_face_test])
data_allegro = pd.concat([data_allegro_dev, data_allegro_test_features, data_allegro_train])

Amazon Data Transformation

In [60]:
data_amazon.head()

,Unnamed: 0,review_id,product_id,reviewer_id,stars,review_body,review_title,language,product_category
0,0,de_0203609,product_de_0865382,reviewer_de_0267719,1,Armband ist leider nach 1 Jahr kaputt gegangen,Leider nach 1 Jahr kaputt,de,sports
1,1,de_0559494,product_de_0678997,reviewer_de_0783625,1,In der Lieferung war nur Ein Akku!,EINS statt ZWEI Akkus!!!,de,home_improvement
2,2,de_0238777,product_de_0372235,reviewer_de_0911426,1,"Ein Stern, weil gar keine geht nicht. Es hande...",Achtung Abzocke,de,drugstore
3,3,de_0477884,product_de_0719501,reviewer_de_0836478,1,"Dachte, das wären einfach etwas festere Binden...",Zu viel des Guten,de,drugstore
4,4,de_0270868,product_de_0022613,reviewer_de_0736276,1,Meine Kinder haben kaum damit gespielt und nac...,Qualität sehr schlecht,de,toy

In [61]:
len(data_amazon)

1260000

In [62]:
data_amazon["language"].value_counts()

language
de    210000
en    210000
es    210000
fr    210000
ja    210000
zh    210000
Name: count, dtype: int64

In [63]:
en_rows = data_amazon[data_amazon["language"] == "en"]
drop_indices = en_rows.sample(n=110000, random_state=1).index
data_amazon = data_amazon.drop(drop_indices)

In [64]:
data_amazon = data_amazon[["stars", "review_body"]]

In [65]:
data_amazon.columns = ["label", "text"]

In [66]:
data_amazon = data_amazon[["text", "label"]]

In [67]:
data_amazon["label"].value_counts()

label
3    229581
4    229569
5    229522
2    229441
1    225564
Name: count, dtype: int64

In [68]:
data_amazon["label"] = data_amazon["label"].map({1: 0, 2: 0, 3: 1, 4: 1, 5: 2})

multilingual-sentiments transformation

In [69]:
data_hug.head()

                                                text  source language  label
0    yang memerlukan pemerhatian dan tindakan serius  malaya    malay      0
1  sentiasa memikirkan dan merancang inisiatif ba...  malaya    malay      0
2  Kita akan tengok daripada pelbagai aspek supay...  malaya    malay      0
3  justeru asean perlu mengambil tindakan sebagai...  malaya    malay      0
4  @_Niiar_ Jangan punah dulu, aku belum ke labua...  malaya    malay      1

In [70]:
data_hug["language"].value_counts()

language
japanese      126000
chinese       126000
indonesian     12760
malay           6697
hindi           3033
german          3033
italian         3033
english         3033
portuguese      3033
french          3033
spanish         3033
arabic          3033
Name: count, dtype: int64

In [71]:
data_hug = data_hug[["text", "label"]]

In [72]:
data_hug["label"].value_counts()

label
0    102527
2     98719
1     94475
Name: count, dtype: int64

Allegro Rewiews

In [73]:
data_allegro.head()

                                                text  rating
0  Generalnie ok.  Znośna jakość dźwięku. Ale to ...     3.0
1  W upalne dni przyssawka staje się tak elastycz...     4.0
2  Według mnie statyw na początku był bardzo fajn...     1.0
3  Specyfikacja mówi sama za siebie i faktycznie ...     5.0
4  Wykonanie przeciętne . Krajalnicy nie używamy ...     3.0

In [74]:
data_allegro["rating"].value_counts()

rating
5.0    4259
1.0    1942
4.0    1845
3.0    1346
2.0    1187
Name: count, dtype: int64

In [75]:
data_allegro["rating"] = data_allegro["rating"].map({1.0: 0, 2.0: 0, 3.0: 1, 4.0: 1, 5.0: 2})

In [76]:
data_allegro.columns = ["text", "label"]

In [77]:
len(data_allegro)

11571

Cell phone reviews (Russian language)

In [78]:
data_phones.head()

                                              Review  Rating
0  3D Touch просто восхитительная вещь! Заряд дер...       5
1  Отключается при температуре близкой к нулю, не...       4
2  В Apple окончательно решили не заморачиваться,...       3
3  Постарался наиболее ёмко и коротко описать все...       4
4  Достойный телефон. Пользоваться одно удовольст...       5

In [79]:
data_phones["Rating"].value_counts()

Rating
5    228517
4    106568
3     53091
2     35724
1     34529
0         2
7         1
9         1
Name: count, dtype: int64

In [80]:
data_phones.columns = ["text", "label"]
data_phones["label"] = data_phones["label"].map({0: 0, 1: 0, 2: 0, 3: 0, 4: 1, 5: 1, 6: 1, 7: 1, 8: 2, 9: 2, 10: 2})

In [83]:
data = pd.concat([data_amazon, data_hug, data_allegro, data_phones])

In [85]:
len(data)

1909402

In [86]:
data = data.sample(frac=1).reset_index(drop=True)

In [ ]:
data.to_csv("Multiilingual_dataset/mulilingual_dataset.csv", index=False)